
.slideshowButtons button{
    background-color:#66FAB4;
    color:#382487;
    border:none;
    box-shadow: 2px 3px;
}

main {
    text-align:center;
}

main img{
    margin-top:25px;
}

#caption{
    font-size: 20pt;
}